In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
# Locating the file
HOME = Path() / '../'
WBANK = HOME / 'food-waste-dataset' / 'worldbank'
POPULATION = WBANK / 'population' / 'population.csv'
EMISSIONS = WBANK / 'total-emissions' / 'clean-total-emissions.csv'

pop_df = pd.read_csv(POPULATION, encoding='latin-1')
emi_df = pd.read_csv(EMISSIONS, encoding='latin-1')

In [3]:
print(pop_df)
print(emi_df)

                          country  year   population
0                           Aruba  1990      65712.0
1     Africa Eastern and Southern  1990  309890664.0
2                     Afghanistan  1990   10694796.0
3      Africa Western and Central  1990  206739024.0
4                          Angola  1990   11828638.0
...                           ...   ...          ...
7975                       Kosovo  2019    1788878.0
7976                  Yemen, Rep.  2019   31546691.0
7977                 South Africa  2019   58087055.0
7978                       Zambia  2019   18380477.0
7979                     Zimbabwe  2019   15354608.0

[7980 rows x 3 columns]
                          country  year          value
0                           Aruba  1990            NaN
1     Africa Eastern and Southern  1990  320589.996671
2                     Afghanistan  1990    6739.999771
3      Africa Western and Central  1990  225169.999979
4                          Angola  1990   21219.999313
...                           ...   ...            ...
7975                       Kosovo  2019            NaN
7976                  Yemen, Rep.  2019   10609.999657
7977                 South Africa  2019   80129.997253
7978                       Zambia  2019   15619.999886
7979                     Zimbabwe  2019   12550.000191

[7980 rows x 3 columns]

In [19]:
emi_df.rename(index=str, columns={'value':'emission'}, inplace=True)

In [20]:
emi_df['emission']

0                 NaN
1       320589.996671
2         6739.999771
3       225169.999979
4        21219.999313
            ...
7975              NaN
7976     10609.999657
7977     80129.997253
7978     15619.999886
7979     12550.000191
Name: emission, Length: 7980, dtype: float64

In [23]:
pop_emi_df = pd.merge(pop_df, emi_df)
pop_emi_df

                          country  year   population       emission
0                           Aruba  1990      65712.0            NaN
1     Africa Eastern and Southern  1990  309890664.0  320589.996671
2                     Afghanistan  1990   10694796.0    6739.999771
3      Africa Western and Central  1990  206739024.0  225169.999979
4                          Angola  1990   11828638.0   21219.999313
...                           ...   ...          ...            ...
7975                       Kosovo  2019    1788878.0            NaN
7976                  Yemen, Rep.  2019   31546691.0   10609.999657
7977                 South Africa  2019   58087055.0   80129.997253
7978                       Zambia  2019   18380477.0   15619.999886
7979                     Zimbabwe  2019   15354608.0   12550.000191

[7980 rows x 4 columns]

In [24]:
pop_emi_df.to_csv(WBANK / 'population_emission.csv', index=False)

In [25]:
pop_emi_df.country.unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)