In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [20]:
# Locating the file
HOME = Path() / '../'
FAO = HOME / 'food-waste-dataset' / 'fao'
DATA = FAO / 'emissions-total' / 'emissions-total.csv'
df = pd.read_csv(DATA, encoding='latin-1')

/tmp/ipykernel_4094/2492587421.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA, encoding='latin-1')

In [21]:
# Variables
for c in df.columns:
    print('->', c)

-> Area Code
-> Area Code (M49)
-> Area
-> Item Code
-> Item
-> Element Code
-> Element
-> Year Code
-> Year
-> Source Code
-> Source
-> Unit
-> Value
-> Flag
-> Note

In [22]:
# Range of years available
df['Year'].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2030, 2050])

In [23]:
df['Item'].unique()

array(['Crop Residues', 'Rice Cultivation', 'Burning - Crop residues',
       'Enteric Fermentation', 'Manure Management',
       'Manure left on Pasture', 'Manure applied to Soils',
       'Synthetic Fertilizers', 'Drained organic soils',
       'Drained organic soils (CO2)', 'Drained organic soils (N2O)',
       'On-farm energy use', 'Forestland', 'Net Forest conversion',
       'Savanna fires', 'Fires in organic soils', 'Forest fires',
       'Fires in humid tropical forests', 'Waste - agri-food systems',
       'Fertilizers Manufacturing', 'On-farm electricity use',
       'Food Processing', 'Food Packaging', 'Food Retail',
       'Food Household Consumption', 'Food Transport', 'Energy', 'IPPU',
       'Waste', 'Other', 'Farm-gate emissions', 'Land Use change',
       'Emissions on agricultural land', 'Pre- and post- production',
       'Agri-food systems', 'IPCC Agriculture', 'Agricultural Soils',
       'LULUCF', 'AFOLU', 'All sectors with LULUCF',
       'All sectors without LULUCF', 'International bunkers'],
      dtype=object)

In [24]:
df['Element'].unique()

array(['Direct emissions (N2O)', 'Indirect emissions (N2O)',
       'Emissions (N2O)', 'Emissions (CO2eq) from N2O (AR5)',
       'Emissions (CO2eq) (AR5)', 'Emissions (CH4)',
       'Emissions (CO2eq) from CH4 (AR5)', 'Emissions (CO2)',
       'Emissions (CO2eq) from F-gases (AR5)'], dtype=object)

In [25]:
# Emissions from agri-food systems caused by waste
df.loc[(df['Item'] == 'Waste - agri-food systems') & (df['Element'] == 'Emissions (CH4)') & (df['Area'] == 'France') & (df['Year'] == 2019)]

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
555986,68,'250,France,6991,Waste - agri-food systems,7225,Emissions (CH4),2019,2019,3050,FAO TIER 1,kilotonnes,236.5169,E,NaN

In [26]:
# Emissions from agri-food systems
df.loc[(df['Item'] == 'Agri-food systems') & (df['Element'] == 'Emissions (CH4)') & (df['Area'] == 'France') & (df['Year'] == 2019)]

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
558986,68,'250,France,6518,Agri-food systems,7225,Emissions (CH4),2019,2019,3050,FAO TIER 1,kilotonnes,1985.804,E,NaN

In [27]:
# Emissions total: + 
df.loc[(df['Item'] == 'All sectors with LULUCF') & (df['Element'] == 'Emissions (CH4)') & (df['Area'] == 'France') & (df['Year'] == 2019)]

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
560800,68,'250,France,6825,All sectors with LULUCF,7225,Emissions (CH4),2019,2019,3050,FAO TIER 1,kilotonnes,2672.3436,E,NaN