In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
# Locating the file
HOME = Path() / '../'
WBANK = HOME / 'food-waste-dataset' / 'worldbank'
FAO = HOME / 'food-waste-dataset' / 'fao'

pop_emi_df = pd.read_csv(WBANK / 'population_emission.csv', encoding='latin-1')

In [3]:
pop_emi_df.columns

Index(['country', 'year', 'population', 'emission'], dtype='object')

In [4]:
gdp_df = pd.read_csv(WBANK/'gdp'/'gdp-untidy.csv')

In [6]:
gdp_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [7]:
gdp_df.rename(index=str, columns={'Country Name':'country'}, inplace=True)

In [9]:
gdp_df.columns[34:64]

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [14]:
filt_gdp_df = gdp_df.loc[:, ['country'] + [str(i) for i in range(1990, 2020)]]

In [15]:
filt_gdp_df

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,7.648045e+08,8.720670e+08,9.586592e+08,1.083240e+09,1.245810e+09,1.320670e+09,1.379888e+09,1.531844e+09,1.665363e+09,...,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09
1,Africa Eastern and Southern,2.532267e+11,2.734057e+11,2.382580e+11,2.365294e+11,2.401226e+11,2.696397e+11,2.684165e+11,2.821880e+11,2.658169e+11,...,8.603324e+11,9.641807e+11,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11,8.827213e+11,1.021119e+12,1.007240e+12,1.001017e+12
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10
3,Africa Western and Central,1.218021e+11,1.174571e+11,1.182823e+11,9.882637e+10,8.628174e+10,1.082213e+11,1.257630e+11,1.270639e+11,1.301068e+11,...,5.971293e+11,6.804560e+11,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11,6.905454e+11,6.837480e+11,7.663597e+11,7.947191e+11
4,Angola,1.122876e+10,1.060378e+10,8.307811e+09,5.768720e+09,4.438321e+09,5.538749e+09,7.526447e+09,7.648377e+09,6.506230e+09,...,8.169953e+10,1.094366e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.344014e+09,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09
262,"Yemen, Rep.",5.647119e+09,5.930370e+09,6.463650e+09,5.368271e+09,4.167356e+09,4.258789e+09,5.785685e+09,6.838557e+09,6.325142e+09,...,3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN
263,South Africa,1.260481e+11,1.352044e+11,1.469569e+11,1.471966e+11,1.535126e+11,1.717352e+11,1.632368e+11,1.689767e+11,1.529825e+11,...,4.173651e+11,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041597e+11,3.885320e+11
264,Zambia,3.285217e+09,3.378882e+09,3.181922e+09,3.273238e+09,3.656648e+09,3.807067e+09,3.597221e+09,4.303282e+09,3.537683e+09,...,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10
265,Zimbabwe,8.783817e+09,8.641482e+09,6.751472e+09,6.563813e+09,6.890675e+09,7.111271e+09,8.553147e+09,8.529572e+09,6.401968e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10

In [16]:
filt_gdp_df = filt_gdp_df.melt('country', var_name='year', value_name='gdp')
filt_gdp_df['year'] = filt_gdp_df['year'].astype(int)
filt_gdp_df

                          country  year           gdp
0                           Aruba  1990  7.648045e+08
1     Africa Eastern and Southern  1990  2.532267e+11
2                     Afghanistan  1990           NaN
3      Africa Western and Central  1990  1.218021e+11
4                          Angola  1990  1.122876e+10
...                           ...   ...           ...
7975                       Kosovo  2019  7.899879e+09
7976                  Yemen, Rep.  2019           NaN
7977                 South Africa  2019  3.885320e+11
7978                       Zambia  2019  2.330867e+10
7979                     Zimbabwe  2019  2.183223e+10

[7980 rows x 3 columns]

In [17]:
filt_gdp_df.to_csv(WBANK / 'gdp' / 'gdp.csv', index=False)