In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [3]:
# Locating the file
HOME = Path() / '../'
FAO = HOME / 'food-waste-dataset' / 'worldbank'
DATA = FAO / 'population' / 'population.csv'
df = pd.read_csv(DATA, encoding='latin-1')

In [5]:
df.rename(index=str, columns={'ï»¿"Country Name"':'country'}, inplace=True)

In [8]:
df = df.loc[:, ['country'] + [str(i) for i in range(1990, 2020)]]

In [9]:
df = df.melt('country', var_name='year', value_name='population')
df['year'] = df['year'].astype(int)
df

                          country  year   population
0                           Aruba  1990      65712.0
1     Africa Eastern and Southern  1990  309890664.0
2                     Afghanistan  1990   10694796.0
3      Africa Western and Central  1990  206739024.0
4                          Angola  1990   11828638.0
...                           ...   ...          ...
7975                       Kosovo  2019    1788878.0
7976                  Yemen, Rep.  2019   31546691.0
7977                 South Africa  2019   58087055.0
7978                       Zambia  2019   18380477.0
7979                     Zimbabwe  2019   15354608.0

[7980 rows x 3 columns]

In [10]:
df.to_csv(FAO / 'population' / 'population.csv', index=False)