In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [21]:
# Locating the file
HOME = Path() / '../'
WBANK = HOME / 'food-waste-dataset' / 'worldbank'
FAO = HOME / 'food-waste-dataset' / 'fao'

emi_pop_gdp_df = pd.read_csv(WBANK / 'emi_pop_gdp.csv', encoding='latin-1')
emi_waste_dis_df = pd.read_csv(FAO / 'emissions-waste-disposal' / 
                                     'cleaned-emissions-waste-disposal.csv', 
                                     encoding='latin-1')

In [22]:
print(emi_pop_gdp_df.columns)
print(emi_waste_dis_df.columns)

Index(['country', 'year', 'population', 'emission', 'gdp'], dtype='object')
Index(['Area', 'Item', 'Element', 'Year', 'Value'], dtype='object')

In [23]:
emi_waste_dis_df.rename(columns={
    'Area': 'country',
    'Item': 'cause',
    'Year': 'year',
    'Value': 'value',
    'Element': 'element'}, inplace=True)

In [24]:
waste_emi_pop_gdp_df = pd.merge(emi_waste_dis_df, emi_pop_gdp_df, how='outer')
waste_emi_pop_gdp_df

,country,cause,element,year,value,population,emission,gdp
0,Afghanistan,Solid food waste,Emissions (CH4),1990,6.196943,10694796.0,6739.999771,NaN
1,Afghanistan,Waste - agri-food systems,Emissions (CO2),1990,0.000000,10694796.0,6739.999771,NaN
2,Afghanistan,Waste - agri-food systems,Emissions (CH4),1990,22.052845,10694796.0,6739.999771,NaN
3,Afghanistan,Waste - agri-food systems,Emissions (N2O),1990,0.280412,10694796.0,6739.999771,NaN
4,Afghanistan,Solid food waste,Emissions (CH4),1991,5.836061,10745167.0,7019.999981,NaN
...,...,...,...,...,...,...,...,...
32886,"Venezuela, RB",NaN,NaN,2019,NaN,28971683.0,119239.997864,NaN
32887,Virgin Islands (U.S.),NaN,NaN,2019,NaN,106669.0,NaN,4.117000e+09
32888,Vietnam,NaN,NaN,2019,NaN,95776716.0,80480.003357,3.343653e+11
32889,Kosovo,NaN,NaN,2019,NaN,1788878.0,NaN,7.899879e+09
32890,"Yemen, Rep.",NaN,NaN,2019,NaN,31546691.0,10609.999657,NaN

In [25]:
# But how many countries are there now that we merged?
print('Merged')
print(len(waste_emi_pop_gdp_df['country'].unique()))
print('WorldBank')
print(len(emi_pop_gdp_df['country'].unique()))
print('Fao')
print(len(emi_waste_dis_df['country'].unique()))

Merged
353
WorldBank
266
Fao
271

In [26]:
# What are the overlapping countries?
print(waste_emi_pop_gdp_df['country'].unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland' 'Colombia'
 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia'
 'Cuba' 'Cyprus' 'Czechia' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Falkland Islands (Malvinas)' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Guyana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia (Federated States of)'
 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'Netherlands Antilles (former)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Northern Mariana Islands'
 'Norway' 'Oman' 'Pacific Islands Trust Territory' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'RÃ©union' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Helena, Ascension and Tristan da Cunha' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'TÃ¼rkiye' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America'
 'United States Virgin Islands' 'Uruguay' 'USSR' 'Uzbekistan' 'Vanuatu'
 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Wallis and Futuna Islands' 'Western Sahara' 'Yemen' 'Yugoslav SFR'
 'Zambia' 'Zimbabwe' 'World' 'Africa' 'Eastern Africa' 'Middle Africa'
 'Northern Africa' 'Southern Africa' 'Western Africa' 'Americas'
 'Northern America' 'Central America' 'Caribbean' 'South America' 'Asia'
 'Central Asia' 'Eastern Asia' 'Southern Asia' 'South-eastern Asia'
 'Western Asia' 'Europe' 'Eastern Europe' 'Northern Europe'
 'Southern Europe' 'Western Europe' 'Oceania' 'Australia and New Zealand'
 'Melanesia' 'Micronesia' 'Polynesia' 'European Union (27)'
 'Least Developed Countries' 'Land Locked Developing Countries'
 'Small Island Developing States' 'Low Income Food Deficit Countries'
 'Net Food Importing Developing Countries' 'Annex I countries'
 'Non-Annex I countries' 'OECD' 'Africa Eastern and Southern'
 'Africa Western and Central' 'Arab World' 'Bahamas, The' 'Bolivia'
 'Central Europe and the Baltics' 'Channel Islands' "Cote d'Ivoire"
 'Congo, Dem. Rep.' 'Congo, Rep.' 'Caribbean small states' 'Curacao'
 'East Asia & Pacific (excluding high income)'
 'Early-demographic dividend' 'East Asia & Pacific'
 'Europe & Central Asia (excluding high income)' 'Europe & Central Asia'
 'Egypt, Arab Rep.' 'Euro area' 'European Union'
 'Fragile and conflict affected situations' 'Micronesia, Fed. Sts.'
 'United Kingdom' 'Gambia, The' 'High income' 'Hong Kong SAR, China'
 'Heavily indebted poor countries (HIPC)' 'IBRD only' 'IDA & IBRD total'
 'IDA total' 'IDA blend' 'IDA only' 'Not classified' 'Iran, Islamic Rep.'
 'Kyrgyz Republic' 'St. Kitts and Nevis' 'Korea, Rep.'
 'Latin America & Caribbean (excluding high income)' 'Lao PDR' 'St. Lucia'
 'Latin America & Caribbean'
 'Least developed countries: UN classification' 'Low income'
 'Lower middle income' 'Low & middle income' 'Late-demographic dividend'
 'Macao SAR, China' 'St. Martin (French part)' 'Moldova'
 'Middle East & North Africa' 'Middle income'
 'Middle East & North Africa (excluding high income)' 'North America'
 'OECD members' 'Other small states' 'Pre-demographic dividend'
 "Korea, Dem. People's Rep." 'West Bank and Gaza'
 'Pacific island small states' 'Post-demographic dividend' 'South Asia'
 'Sub-Saharan Africa (excluding high income)' 'Sub-Saharan Africa'
 'Small states' 'Slovak Republic' 'Sint Maarten (Dutch part)'
 'East Asia & Pacific (IDA & IBRD countries)'
 'Europe & Central Asia (IDA & IBRD countries)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Middle East & North Africa (IDA & IBRD countries)'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Turkiye' 'Tanzania' 'Upper middle income' 'United States'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'Virgin Islands (U.S.)'
 'Vietnam' 'Kosovo' 'Yemen, Rep.']

In [27]:
waste_emi_pop_gdp_df.to_csv(HOME / 'waste_emi_pop_dfp_OUTER.csv')